<div>
    <h3>
        Experiencia Laboral
        <button type="button" class="btn btn-dark" routerLink="experiencia-add" *ngIf="isLogged">
            Añadir
            <i class="bi bi-plus-circle"></i>
        </button>
    </h3>
    <table class="table table-hover">
        <tbody>
            <tr *ngFor="let Experiencia of experiencia">
                <td>{{Experiencia.expEmpresa}}</td>
                <td>{{Experiencia.expLugar}}</td>
                <td>{{Experiencia.expCargo}}</td>
                <td *ngIf="isLogged">
                    <button type="button" class="btn btn-success" routerLink="experiencia-mod/{{Experiencia.id}}">
                        Editar
                        <i class="bi bi-pencil-fill"></i>
                    </button>
                </td>
                <td *ngIf="isLogged">
                    <button type="button" class="btn btn-danger" (click)="deleteExperiencia(Experiencia.id)">
                        Borrar
                        <i class="bi bi-trash"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
