<div clas="container" *ngIf="experiencia">
    <div class="row">
        <div>
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="expEmpresa">Empresa/Organización</label>
                    <input type="text" class="form-control" 
                        id="expEmpresa" name="expEmpresa" 
                        [(ngModel)]="experiencia.expEmpresa" required>
                </div>
                <div class="form-group">
                    <label for="expLugar">Lugar de Trabajo</label>
                    <input type="text" class="form-control" 
                        id="expLugar" name="expLugar" 
                        [(ngModel)]="experiencia.expLugar" required>
                </div>
                <div class="form-group">
                    <label for="expCargo">Cargo Desempeñado</label>
                    <input type="text" class="form-control" 
                        id="expCargo" name="expCargo" 
                        [(ngModel)]="experiencia.expCargo" required>
                </div>
                <button class="btn btn-success">Actualizar</button>
            </form>
        </div>
    </div>
</div>
