#AreaBanner {
    width: auto;
    background-image: url("../../../assets/Banner006.jpg");
    min-height: 180px;
}

#SeccionTitulo {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #FFFFFF;
    text-align: center;
    margin-top: 1em;
}