#AreaBanner {
    background-image: url("../../../assets/Banner006.jpg");
    height: 150px;
    width: 100%;
    color: #FFFFFF;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}