<!-- Sección 1, título superior -->
<div id="sec_titulodepagina">
  <h1>Portfolio | Héctor Hernández Petit</h1>
</div>

<!-- Sección 2, datos principales -->
<div id="sec_datosprincipales" class="container-fluid">
  <div class="row">
    <div class="col-2">
      <figure class="figure-img img-circle">
        <div id="fotoperfil">
          <img src="../assets/Foto_HectorHernandezPetit1.jpg" 
          alt="Héctor Hernández Petit" 
          class="img-fluid rounded-circle">
        </div>
      </figure>
    </div>
    <div class="col-10">
      <span>
        <p>Administración de Recursos Materiales y Financieros</p>
        <p>hjhernandezp@gmail.com / hjhernandezp@hotmail.com</p>
        <p>+5492617084959 / publimixto.com</p>
      </span>
    </div>
  </div>
</div>

<!-- Sección 3, pestañas con la información -->
<div id="sec_informacion" class="container-fluid">
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link active" href="#estudios" data-bs-toggle="tab">Estudios</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#experiencia" data-bs-toggle="tab">Experiencia</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#competencias" data-bs-toggle="tab">Competencias</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#destacado" data-bs-toggle="tab">Destacado</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#cursos" data-bs-toggle="tab">Cursos</a>
    </li>
  </ul>
            
  <div class="tab-content">
    <div id="estudios" class="tab-pane fade show active">
      <h3>Estudios Realizados</h3>
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>N°</th>
            <th>Título</th>
            <th>Institución</th>
            <th>Inicio</th>
            <th>Término</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Bachiller Mercantil: Contabilidad</td>
            <td>Ciclo Diversificado Rómulo Gallegos</td>
            <td>1986</td>
            <td>1988</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Técnico Superior Universitario: Contabilidad Computarizada</td>
            <td>Colegio Universitario Fermín Toro</td>
            <td>1989</td>
            <td>1992</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Licenciado: Administración de Recursos Materiales y Financieros</td>
            <td>Universidad Nacional Experimental Simón Rodríguez</td>
            <td>1986</td>
            <td>1988</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div id="experiencia" class="tab-pane fade">
      <h3>Experiencia Laboral</h3>
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>N°</th>
            <th>Desempeño</th>
            <th>Organización</th>
            <th>Desde</th>
            <th>Hasta</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>HBR. Asesoría y Sistemas</td>
            <td>Analista y Asesor de Sistemas</td>
            <td>Julio, 1991</td>
            <td>Maro, 1992</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Capacitador,
              Supervisor de Formación Profesional,
              Coordinador de Programa de Formación.
            </td>
            <td>Instituto Nacional de Cooperación Educativa</td>
            <td>Julio, 1992</td>
            <td>Julio, 2018</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Profesor (Sistema de Contabilidad Mecanizada)</td>
            <td>Colegio Universitario de Administración y Mercadeo</td>
            <td>Marzo, 1996</td>
            <td>Julio, 1997</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div id="competencias" class="tab-pane fade">
      <h3>Competencias y Habilidades</h3>
      <ul>
        <li>
          Diseño Web con WordPress/Elementor,
          Consultor de Marketing Digital,
          Redactor Web.
        </li>
        <li>
          Diseño Curricular para Capacitación
          (Perfiles de Competencias, Planes, Programas
          Medios Formativos).
        </li>
        <li>
          Capacitador/Facilitador: Gerencia, Supervisión,
          Desarrollo Organizacional, Ofimática, entre otros.
        </li>
        <li>
          Dirección y Gestión Administrativa, Financiera y
          Operacional de Empresas.
        </li>
        <li>
          Auxiliar Contable, Auxiliar Administrativo,
          Analista de Costos, Analsta de Organización y
          Métodos, entre otros.
        </li>
        <li>
          Soporte Técnico, Instalación de Software, Ensamblaje,
          Mantenimiento y Repacióin de PC's.
        </li>
      </ul>
    </div>
    <div id="destacado" class="tab-pane fade">
      <h3>Destacado</h3>
      <ul>
        <li>
          Operador avanzado: Microsoft Excel, Microsoft Word,
          Microsoft PowerPoint.
        </li>
        <li>
          Certificación Internacional: Facilitador del Método CEFE.
        </li>
      </ul>
    </div>
    <div id="cursos" class="tab-pane fade">
      <h3>Cursos Realizados</h3>
      <ol>
        <li>
          Microenseñanza
          (INCE, 1992). 80 horas.
        </li>
        <li>
          Inducción Docente
          (INCE, 1993). 60 horas.
        </li>
        <li>
          Formación de Supervisores de Formación Profesional
          (INCE, 1999). 250 horas.
        </li>
        <li>
          Formación de Facilitadores del Método CEFE
          (INCE/GTZ, 1999). 272 horas.
        </li>
        <li>
          Componente Didáctico
          (INCE, 2008). 60 horas.
        </li>
        <li>
          Planificación Basada en Necesidades Sociales
          (INCE, 2008). 30 horas.
        </li>
        <li>
          Proyectos Sociopoductivos Basados en Necesidades Sociales
          (INCE, 2008). 72 horas.
        </li>
        <li>
          Inglés Básico
          (INCE, 2012). 286 horas.
        </li>
      </ol>
    </div>
  </div>
</div>