<div id="AreaAbout" class="row">
    <div id="SeccionAbout1" class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img class="mx-auto d-block"
            id="FotoPerfil"
            src="../../../assets/Foto_HectorHernandezPetit1.jpg"
            img="img-fluid">
        <p>Héctor Hernández Petit</p>
        <p>Full Stack Developer Jr.</p>
    </div>
    <div id="SeccionAbout2" class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <h2>Acerca de mí</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
            Itaque cumque architecto, voluptas dolores perspiciatis culpa
            at hic consequatur saepe quia praesentium beatae possimus. 
            Ut numquam assumenda est magni optio mollitia?
        </p>
    </div>
</div>