<div id="AreaAbout" class="container-fluid">
    <div class="row" *ngFor="let Persona of persona">
        <div id="SeccionAbout1" class="col-xs-12 col-sm-2 col-md-2 col-lg-2">     
            <img class="mx-auto d-block" id="FotoPerfil" src={{Persona.imagen}} img="img-fluid">
            <h5>{{Persona.nombre}} {{Persona.apellido}}</h5>
            <p>Full Stack Developer Jr.</p>
        </div>
        <div id="SeccionAbout2" class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <h2>Acerca de mí</h2>
            <p>{{Persona.descripcion}}</p>
        </div>
        <div *ngIf="isLogged">
            <button type="button" class="btn btn-success" routerLink="/about-mod/1">
                <i class="bi bi-pencil-fill"></i>
            </button>
        </div>
    </div>
</div>
