<div>
    <h3>Estudios Realizados</h3>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>N°</th>
                <th>Título</th>
                <th>Institución</th>
                <th>Inicio</th>
                <th>Término</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Bachiller Mercantil: Contabilidad</td>
                <td>Ciclo Diversificado Rómulo Gallegos</td>
                <td>1986</td>
                <td>1988</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Técnico Superior Universitario: Contabilidad Computarizada</td>
                <td>Colegio Universitario Fermín Toro</td>
                <td>1989</td>
                <td>1992</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Licenciado: Administración de Recursos Materiales y Financieros</td>
                <td>Universidad Nacional Experimental Simón Rodríguez</td>
                <td>1986</td>
                <td>1988</td>
            </tr>
        </tbody>
    </table>
</div>