<div clas="container">
    <div class="row">
        <div>
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="estCarrera">Carrera</label>
                    <input type="text" class="form-control" 
                        id="estCarrera" name="estCarrera" 
                        [(ngModel)]="estCarrera" required>
                </div>
                <div class="form-group">
                    <label for="estMencion">Mención</label>
                    <input type="text" class="form-control" 
                        id="estMencion" name="estMencion" 
                        [(ngModel)]="estMencion" required>
                </div>
                <div class="form-group">
                    <label for="estEstado">Status</label>
                    <input type="text" class="form-control" 
                        id="estEstado" name="estEstado" 
                        [(ngModel)]="estEstado" required>
                </div>
                <div class="form-group">
                    <label for="estInstituo">Institución</label>
                    <input type="text" class="form-control" 
                        id="estInstituto" name="estInstituto" 
                        [(ngModel)]="estInstituto" required>
                </div>
                <div class="form-group">
                    <label for="estLugar">Lugar</label>
                    <input type="text" class="form-control" 
                        id="estLugar" name="estLugar" 
                        [(ngModel)]="estLugar" required>
                </div>
                <button class="btn btn-success">Aceptar</button>
            </form>
        </div>
    </div>
</div>
