<div clas="container">
    <div class="row">
        <div>
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="curNombre">Nombre curso</label>
                    <input type="text" class="form-control" 
                        id="curNombre" name="curNombre" 
                        [(ngModel)]="curNombre" required>
                </div>
                <div class="form-group">
                    <label for="curInstituto">Instituto</label>
                    <input type="text" class="form-control" 
                        id="curInstituto" name="curInstituto" 
                        [(ngModel)]="curInstituto" required>
                </div>
                <div class="form-group">
                    <label for="curLugar">Lugar</label>
                    <input type="text" class="form-control" 
                        id="curLugar" name="curLugar" 
                        [(ngModel)]="curLugar" required>
                </div>
                <div class="form-group">
                    <label for="curHoras">Horas</label>
                    <input type="text" class="form-control" 
                        id="curHoras" name="curHoras" 
                        [(ngModel)]="curHoras" required>
                </div>
                <button class="btn btn-success">Aceptar</button>
            </form>
        </div>
    </div>
</div>
