<div>
    <h3>
        Cursos Realizados
        <button type="button" class="btn btn-dark" routerLink="cursos-add" *ngIf="isLogged">
            <i class="bi bi-plus-circle"></i>
        </button>
    </h3>
    <table class="table table-hover">
        <tbody>
            <tr>
                <th>Nombre</th>
                <th>Institución</th>
                <th>Lugar</th>
                <th>Horas</th>
                <th>---</th>
                <th>---</th>
            </tr>
            <tr *ngFor="let Cursos of cursos">
                <td>{{Cursos.curNombre}}</td>
                <td>{{Cursos.curInstituto}}</td>
                <td>{{Cursos.curLugar}}</td>
                <td>{{Cursos.curHoras}}</td>
                <td *ngIf="isLogged">
                    <button type="button" class="btn btn-success" routerLink="cursos-mod/{{Cursos.id}}">
                        <i class="bi bi-pencil-fill"></i>
                    </button>
                </td>
                <td *ngIf="isLogged">
                    <button type="button" class="btn btn-danger" (click)="deleteCursos(Cursos.id)">
                        <i class="bi bi-trash"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
