<div>
    <h3>
        Cursos Realizados
        <button type="button" class="btn btn-dark" routerLink="cursos-add" *ngIf="isLogged">
            Añadir
            <i class="bi bi-plus-circle"></i>
        </button>
    </h3>
    <table class="table table-hover">
        <tbody>
            <tr *ngFor="let Cursos of cursos">
                <td>{{Cursos.curNombre}}</td>
                <td>{{Cursos.curInstituto}}</td>
                <td>{{Cursos.curLugar}}</td>
                <td>{{Cursos.curHoras}}</td>
                <td *ngIf="isLogged">
                    <button type="button" class="btn btn-success" routerLink="cursos-mod/{{Cursos.id}}">
                        Editar
                        <i class="bi bi-pencil-fill"></i>
                    </button>
                </td>
                <td *ngIf="isLogged">
                    <button type="button" class="btn btn-danger" (click)="deleteCursos(Cursos.id)">
                        Borrar
                        <i class="bi bi-trash"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
