<div>
    <h3>Cursos Realizados</h3>
    <ul>
        <li>
            Microenseñanza
            (INCE, 1992). 80 horas.
        </li>
        <li>
            Inducción Docente
            (INCE, 1993). 60 horas.
        </li>
        <li>
            Formación de Supervisores de Formación Profesional
            (INCE, 1999). 250 horas.
        </li>
        <li>
            Formación de Facilitadores del Método CEFE
            (INCE/GTZ, 1999). 272 horas.
        </li>
        <li>
            Componente Didáctico
            (INCE, 2008). 60 horas.
        </li>
        <li>
            Planificación Basada en Necesidades Sociales
            (INCE, 2008). 30 horas.
        </li>
        <li>
            Proyectos Sociopoductivos Basados en Necesidades Sociales
            (INCE, 2008). 72 horas.
        </li>
        <li>
            Inglés Básico
            (INCE, 2012). 286 horas.
        </li>
    </ul>
</div>