<div>
    <h3>Competencias</h3>
    <ul>
        <li>
            Desarrollador Web FullStack.
        </li>
        <li>
            Diseñador Web con WordPress/Elementor,
            Consultor de Marketing Digital,
            Redactor Web.
        </li>
        <li>
            Diseñador Curricular para Capacitación
            (Perfiles de Competencias, Planes, Programas
            Medios Formativos).
        </li>
        <li>
            Capacitador/Facilitador: Gerencia, Supervisión,
            Desarrollo Organizacional, Ofimática, entre otros.
        </li>
        <li>
            Dirección y Gestión Administrativa, Financiera y
            Operacional de Empresas.
        </li>
        <li>
            Auxiliar Contable, Auxiliar Administrativo,
            Analista de Costos, Analsta de Organización y
            Métodos, entre otros.
        </li>
        <li>
            Soporte Técnico, Instalación de Software, Ensamblaje,
            Mantenimiento y Repación de PC's.
        </li>
    </ul>
</div>