#AreaHeader {
    background-color: #4169E1;
    height: auto;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 54px;
    margin: 0.2em;
}

.redes img {
    height: 36px;
    margin: 0.2em;
}

.redes button {
    margin-left: 6px;
    margin-right: 6px;
}

@media (max-width: 575px) {
    .container {
        flex-direction: column;
    }
}
