<div clas="container" *ngIf="habilidades">
    <div class="row">
        <div>
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="habNombre">Habilidad</label>
                    <input type="text" class="form-control" 
                        id="habNombre" name="habNombre" 
                        [(ngModel)]="habilidades.habNombre" required>
                </div>
                <div class="form-group">
                    <label for="habNivel">Nivel</label>
                    <input type="text" class="form-control" 
                        id="habNivel" name="habNivel" 
                        [(ngModel)]="habilidades.habNivel" required>
                </div>
                <button class="btn btn-success">Aceptar</button>
            </form>
        </div>
    </div>
</div>
